p{
    text-align: center;
    font-size: 40px;
}
div>p{
    color: white;
    background-color: #62A1FF;
    width: 280px;
    height: 65px;
}
img+p{
    color: black;
    background-color: white;
}

img{
    margin-left: 43px;
}
.container{
    width: 370px;
    height: 1235px;
    background: #ffffff;
        
}

.first{
    width: 280px;
    height: 335px;
    left: 45px;
    top: 45px;
    font-family: 'Roboto', sans-serif;
}

.second{
    width: 280px;
    height: 335px;
    left: 45px;
    top: 450px;
    font-family: 'Roboto', sans-serif;
}

.third{
    width: 280px;
    height: 335px;
    left: 45px;
    top: 855px;
    font-family: 'Roboto', sans-serif;
}